body{
	font-family:Verdana;
}

.task{
	height:100px;
	background-color:rgb(240, 240, 255);
	display:inline-block;
	margin:5px;
	padding:5px;
}

.task h1{
	margin:0px;
	padding:0px;
	font-size:15pt;
}

.task .edit-task{
	width:100vw;
	height:100vh;
	position:fixed;
	top:0px;
	left:0px;
	background-color:rgba(0,0,0,0.8);
}

.task .edit-task form{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
	background-color:rgb(225,225,255);
	border-radius:5px;
	padding:20px;
}