<html ng-app="Planificator">
	<head>
		<script src="scripts/jquery.min.js"></script>
		<script src="scripts/jquery.ui/jquery.ui.min.js"></script>
		<link rel="stylesheet" href="scripts/jquery.ui/jquery.ui.min.css">
		<link rel="stylesheet" href="css.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
	</head>
	<body>
		
		<section id="runningTasks" ng-controller='RunningTaskCtrl as ctrl'>
			<section id="scale">
				<header>Tâches<br/><button>Semaines</button><button>Mois</button></header>
				<article>
					<table>
						<tr>
							<th>Tâches</th>
							<th class="date" ng-repeat="day in ctrl.scale">{{ day | dts }}</th>
						</tr>
						<tr ng-repeat='task in ctrl.tasks'>
							<td><task></task></td>
							<td ng-repeat="day in ctrl.scale" ng-class="{'in':(day >= ctrl.raw(task.start) && day <= ctrl.raw(task.end))}">
							</td>
						</tr>
					</table>
				</article>
			</section>
		</section>
		<section id="newTasks" ng-controller="NewTaskCtrl as ctrl">
			<button ng-click="ctrl.addTask()">Plus</button>
			<task class="task" ng-repeat='task in ctrl.tasks'></task>
		</section>
	
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/app.js"></script>
	</body>
</html>