<html ng-app="Planificator">
	<head>
		<script src="scripts/jquery.min.js"></script>
		<script src="scripts/jquery.ui/jquery.ui.min.js"></script>
		<link rel="stylesheet" href="scripts/jquery.ui/jquery.ui.min.css">
		<link rel="stylesheet" href="css.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
	</head>
	<body>
		<section id="runningTasks" ng-controller='RunningTaskCtrl as ctrl'>
			<task class="task" ng-repeat='task in ctrl.tasks'>
			</task>
		</section>
		<section id="newTasks" ng-controller="NewTaskCtrl as ctrl">
			<button ng-click="ctrl.addTask()">Plus</button>
			<task class="task" ng-repeat='task in ctrl.tasks'></task>
		</section>
	
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/app.js"></script>
	</body>
</html>